@media(max-width:999px){
.section .grid{
    display: flex;
    flex-wrap: wrap;
}.section .grid h1{
    position: relative;
    text-align: center;
}.section .grid img{
width: 500px;
}.section .grid video{
    width: 300px;
}.main .main-child{
    display: none;
}.img-tv .video-tv2 {
    position: absolute;
    width: 400px;
   top: -100px;
    left: 100px;
    height: 450px;
  }.img-tv .video-tv{
    position: absolute;
    width: 400px;
   top: -70px;
    left: 100px;
    height: 500px;
  }


}
